/* 공통 선언 */
body ::-webkit-scrollbar {width:rem(10);}
body ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: rem(10);background-clip: padding-box;border: rem(2) solid transparent;}
body ::-webkit-scrollbar-track {background-color: #fff;border-radius: rem(10);box-shadow: inset 0px 0px rem(5) white;}

/* layout */
.front_body{}
.page_wrap{min-width:rem(280);position:relative;margin:0 auto;overflow:hidden;}
.header_wrap{height:rem(94);border-bottom:rem(1) solid #868789;background:#fff;}
.pix_container{max-width:rem(1280);margin:0 auto;position: relative;display:flex;padding:0 rem(30);height:100%;}
.header_wrap .pix_container{justify-content: space-between;}
.toplogo{display:flex;align-items: center;height:100%;}
.toplogo_link{display:inline-block;vertical-align:top;width:rem(117);height:rem(22);background:url("../images/toplogo.png") no-repeat 0 0/100% auto;}

.gnb_list_wrap{height:100%;}
.gnb_list{display:flex;height:100%;align-items: center;text-align: center;}
.gnb_list > li{display:flex;height:100%;}
.gnb_menu{display:flex;height: 100%;align-items: center;padding:0 2.344vw;position:relative;}
.gnb_menu:after{display:block;content:'';width:100%;height:0;position:absolute;bottom:rem(-1);left:0;background:#6a30d3;}
.gnb_menu_text{display:inline-block;font-size:rem(18);font-weight:500;letter-spacing: -.5px;color:#000000;line-height:1;}
.gnb_list > li.active .gnb_menu:after,
.gnb_menu:hover:after{height:rem(2);}

.util_list_wrap{display:flex;align-items: center;justify-content: flex-end;}
.util_list{
    display:flex;align-items:center;flex-wrap:wrap;position:relative;top:rem(5);justify-content:flex-end;
    & > li{
        margin:0 rem(15) rem(10) 0;
        &:last-of-type{margin-right:0;}
    }
}
.util_menu{
    display:inline-block; vertical-align: middle;
    &[class*="ico_"]{
        display:inline-flex;align-items:center;
        &:before{display:inline-block;content:'';flex:0;margin-right:7px;background-position: 0 0;background-size:100% auto;background-repeat:no-repeat;}
    }
    &.ico_share{
        &:before{
            flex-basis: rem(23); width:rem(23);height:rem(23);background-image:url("../images/ico_share.png"); 
        }
        .util_menu_text{}
    }
    &.box_type{
        display:inline-block;border:1px solid #d0d0d0;border-radius:rem(100);line-height:0;padding:rem(6.5) rem(14) rem(7.5);
        .util_menu_text{font-size:rem(14);color:#333333;line-height:1;}
    }
}
.util_menu_text{display:inline-block;line-height:1;font-size:rem(15);color:#323232;}
.util_global_menu{display:inline-block;position:relative;width:rem(35);height:rem(24);vertical-align: middle;
    &:before,
    &:after{display:block;content:'';background:#000;height:rem(2);position:absolute;right:0;width:100%;}
    &:before{top:0;}
    &:after{bottom:0;width:80%;}
}
.util_global_menu_obj{position:absolute;top:50%;left:0;width:100%;height:rem(2);background:#000;transform:translateY(-50%);}

.middle_wrap{
    min-height:calc(100vh - rem(167));
    &.bgtype2{
        background:#f8f8f8;
    }
    &.guide{
        background:#f8f8f8;padding:0;
        .subcontent_box_wrap{padding-top:rem(20);}
        min-height:100vh;
    }
}


// mobile
.btn_mobile_menu{display:none;position:absolute;width:rem(55);height:rem(55);vertical-align: middle;top:0;right:0;}
.btn_mobile_menu_obj{
    position:absolute;top:50%;left:50%;width:40%;height:rem(2);background:#000;transform:translate(-50%,-50%);
    &:before,
    &:after{display:block;content:'';background:#000;height:rem(2);position:absolute;top:0;right:0;width:100%;}
    &:before{transform: translateY(rem(-8));}
    &:after{transform: translateY(rem(8));width:80%}
}
.mobile_mainmenu_zone{
    display:none;position:fixed;top:0;right:0;width:100%;height:100%;z-index:50;
    &.active{
        display:block;
        &.motion .mobile_mainmenu_wrap{right:0;}
        &.active.motion .mainmenu_dim{opacity:0.8;}
    }
}
.mainmenu_dim{position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;transition: .5s;}
.mobile_mainmenu_wrap{width:rem(247);background:#fff;position:fixed;top:0;right:rem(-247);height:100%; transition: .5s;display:flex;flex-direction: column;}
.mbelse_low{flex:0;padding:rem(20);text-align: center;}
.mbelse_copy{font-size:rem(10);}
.mbutil_low{height:rem(56);background:#511bb4;display:flex;align-items: center;padding:0 rem(60) 0 rem(20);position:relative;z-index:5;flex:0 0 rem(56);}
.mbutil_hlist{
    display:flex;align-items: center;
    > li{
        padding-right:rem(5);
        &:last-of-type{padding-right:0;}
    }
}
.mbutil{display:inline-block;border:1px solid #fff; font-size:rem(14);line-height:1;padding:rem(7) rem(14) rem(6);text-shadow: 0px rem(1) rem(2) rgba(0, 0, 0, 0.11); white-space: nowrap;color:#fff;}
.mblog_after_w{color:#fff;text-shadow: 0px rem(1) rem(2) rgba(0, 0, 0, 0.11);font-size:rem(17);text-align: left;}
.mblog_after_text{padding-left:rem(20);position:relative;min-height:1rem;font-size:rem(16);letter-spacing:rem(-0.5); word-break: keep-all;}
.mblog_after_text:before{display:block;content:'';width:rem(14);height:rem(16);background:url("../images/ico_mb_member_men.png") no-repeat 0 0/rem(14) rem(1.625rem);position:absolute;top:rem(26);left:0;}
.mblog_sym{color:#fff;font-weight:500;}
.mbmenu_low{position:relative;overflow-y:auto;flex:1;}
.mbmenu_one{
    display:block;color:#333333;font-size:rem(17);padding:rem(15) rem(55) rem(15) rem(20);line-height:1;position:relative;font-weight:500;
    &:after{
        display:block;content:'';width:rem(7);height:rem(7);border-right:rem(2) solid #888888;border-bottom:rem(2) solid #888;
        position:absolute;top:rem(19);right:rem(26);
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
        -webkit-transform:rotate(-45deg);transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
    }
}
.mbmenu_vlist{
    text-align:left;
    > li{
        border-bottom:1px solid #e5e5e5;
    }
}
.btn_mbmenuclose{display:block;width:rem(55);height:rem(55);z-index:10;background:url("../images/btn_totalclose.png") no-repeat 50% 50%/100% auto;position:absolute;top:0;right:0;}

.footer_wrap{height:rem(72);background:#f3f2f6;}
.footer_wrap .pix_container{align-items: center;font-size:0;line-height:0;}
.bottomlogo{display:inline-block;width:rem(101);height:rem(20);background:url("../images/bottomlogo.png") no-repeat 0 0/100% auto;margin-right:5.208vw}
.footer_copy{font-size:rem(12);color:#5f5f5f;line-height:1.3;font-weight:300}
.btn_topgo{display:block;width:rem(63);height:rem(63);position:absolute;top:0;right:rem(-40);transform: translateY(rem(-20));background:#b2b2b2 url("../images/ico_gotop.png") no-repeat 50% 50%/100% auto}
.btn_mobile_ico{position:absolute;top:0;left:0;width:rem(55);height:rem(55);display:none;
    &[class*="ico_"]{background-repeat:no-repeat;background-position:50% 50%;background-size:100% auto;}
    &.ico_share{background-image:url("../images/ico_topshare.png");}
}

.sub_visual_zone{height:16.146vw;background:url("../images/bg_sv.jpg") no-repeat 50% 50%/cover;display:flex;align-items: center;justify-content: center; text-align: center;}
.sub_visual_box_zone{padding:rem(20) rem(30)}
.sub_visual_box{margin:0 auto;max-width:rem(1280);height:12.500vw;border-radius:0.938vw;overflow:hidden;display:flex;align-items: center;justify-content: center;background:url("../images/bg_sv_06.jpg") no-repeat 50% 50%/cover; text-align: center;}
.sub_visual_box .sub_visual_copy_group{padding-bottom:0;}
.sub_visual_zone.bgtype2{background-image:url("../images/bg_sv_02.jpg");}
.sub_visual_zone.bgtype3{background-image:url("../images/bg_sv_03.jpg");}
.sub_visual_zone.bgtype4{background-image:url("../images/bg_sv_04.jpg");}
.sub_visual_zone.bgtype5{background-image:url("../images/bg_sv_05.jpg");}
.sub_visual_zone.bgtype6{background-image:url("../images/bg_sv_06.jpg");}
.sub_visual_box_zone.bgtype2 .sub_visual_box{background-image:url("../images/bg_sv_07.jpg");}
.sub_visual_copy_group{color:#fff;line-height:0;padding-bottom:1.563vw}
.sub_visual_copy_main{font-size:1.927vw;line-height:1;}
.sub_visual_copy_sub{font-size:0.833vw;line-height:1;margin-top:0.885vw;font-family:'Open Sans','Noto Sans KR';font-weight:600;letter-spacing: rem(2.5);}
.submenu_item_zone{max-width:1280px;padding:0 rem(30);margin:0 auto;height:0;position:relative;z-index:10;}
.submenu_item_list{height:rem(60);display:flex;transform: translateY(-50%);background:url("../images/bg_submap.png") no-repeat 0 0/cover; border-radius:rem(60);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.12);
}
.submenu_item{
    border-right:1px solid rgba(255,255,255,.5);margin:rem(10) 0; display:flex;align-items:center; position:relative;
    &.define_home{flex:0 0 rem(67)}
    
    &:last-of-type{}
}
.btn_submenu_home{display:block;width:100%;height:rem(40);background:url("../images/ico_maphome.png") no-repeat 50% 50%/rem(14) auto}
.submenu_one{display:flex;align-items:center;padding:0 rem(60) 0 rem(20);min-width:rem(215);box-sizing: border-box;width:100%;position:relative;height:100%;
    &:after{
        display:block;content:'';width:rem(10);height:rem(10);border-right:rem(1) solid #fff;border-bottom:rem(1) solid #fff;
        position:absolute;top:50%;right:rem(20);margin-top:rem(-3);
        transform:translateZ(0) translateY(-50%) rotate(45deg);
    }
    &.active{
        &:after{ transform:translateZ(0) translateY(-50%) rotate(225deg);margin-top:rem(3)}
    }
    &.only_text{
        cursor:default;
        &:after{display:none;}
    }
}
.submenu_text{color:#fff;display:inline-block;line-height:1;font-size:rem(16);padding-bottom:rem(2)}
.submenu_two_list_wrap{transition:500ms;overflow:hidden;height:0;position:absolute;top:calc(100% + rem(25));left:0;width:100%;box-sizing: border-box;box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.1);border-radius:rem(10); }
.submenu_two_list_wrap.active{display:block;}
.submenu_two_list{
    padding:rem(10) 0;border:1px solid #d0d0d0;border-radius:rem(10);background:#fff;
    > li{
        &:last-of-type{}
    }
}
.submenu_two{display:block;font-size:rem(16);padding:rem(5) rem(20)}

.subcontent_box_wrap{margin:0 auto;max-width:1280px;padding:rem(57) rem(30);}
.subcontent_box{border-radius:rem(27);background:#fff;padding: rem(60);box-shadow: 2px 2px 15px 0px rgb(0 0 0 / .05);}
.subcontent_title{text-align: center;font-size:rem(32);line-height:1;color:#1b1b1b;margin:0 0 rem(62);letter-spacing: -1px;font-weight:500;}
.subcontent_title.dtype2{margin-bottom:rem(55);padding-bottom:rem(55);border-bottom:rem(1) solid #cacaca;}
.tabmenu_list_wrap{}
.tabmenu_list{display:flex;}
.tabmenu{
    flex:1; display:flex; align-items: center; justify-content:center;border:1px solid #d7d7d7;background:#fff;margin:-1px; padding:rem(20);position:relative;
    &:last-of-type{}
    &.active{
        z-index:2;
        &:after{display:block;content:'';width:calc(100% + rem(2));position:absolute;top:rem(-1);left:rem(-1);background:#000;height:rem(2)}
        .tabmenu_text{font-weight:500;}
    }
}
.tabmenu_text{display:inline-block;line-height:1.2;font-size:rem(18);color:#000000;text-align: center;word-break: keep-all;}
.subcontent{margin-top:rem(60);
    &.dtype2{margin:0 0 rem(60) 0;padding:0 0 rem(60) 0;border-bottom:1px solid #e7e7e7;}
}

.sctab_list_wrap{position:relative;font-size:0;line-height:0;display:flex;align-items: center;justify-content: center;}
.sctab_list_wrap:after{display:block;content:'';width:100%;height:1px;background:#cacaca;position:absolute;top:50%;margin-top:-.5px;}
.sctab_list{background:#fff;display:inline-flex;justify-content: center;position:relative;z-index:2;}
.sctab{margin:0 rem(5);display:flex;min-width:rem(240);box-sizing: border-box;text-align: center;justify-content: center;background:#fff;border:1px solid #455267;box-sizing: border-box;min-height:rem(48);align-items: center;border-radius:rem(50)}
.sctab:first-of-type{margin-left:0;}
.sctab:last-of-type{margin-right:0;}
.sctab_text{display:inline-block;font-size:rem(18);color:#4e4e4e;line-height:1;}
.sctab.active{background:#455267;}
.sctab.active:after{display:inline-block;content:'';margin-left:rem(10);width:rem(15);height:rem(11);background:url("../images/ico_wcheck.png") no-repeat 0 0/100% auto;vertical-align: middle;}
.sctab.active .sctab_text{color:#fff;}
.sctab_list_wrap{}
.sctab_content{margin-top:rem(55)}

.middle_wrap.layout_type2 .submenu_item_zone{height:auto;}
.middle_wrap.layout_type2 .subcontent_box_wrap{padding:rem(20) rem(30) rem(57);}
.middle_wrap.layout_type2 .submenu_item_zone .submenu_item_list{transform: none;}

.middle_wrap.layout_type3{padding-top:0;}
.middle_wrap.layout_type3 .subcontent_box_wrap{padding:rem(30) rem(30) rem(57)}

.subcontent_title_wrap{margin-bottom:rem(55);padding-bottom:rem(55);border-bottom:rem(1) solid #cacaca;display:block;position:relative;
    .subcontent_title{margin:0;padding:0 rem(50);}
}
.btn_history_back{
    display:block;width:rem(50);height:rem(50);position:absolute;top:rem(-10);left:0;
    &:after{
        display:block;content:'';width:rem(26);height:rem(26);border-left:1px solid #000;border-bottom:1px solid #000;position:absolute;top:11px;left:20px;
        transform: translateZ(0) rotate(45deg);
    }
}

.btn_history_back{}

@media (max-width:1500px){
    .btn_topgo{right:rem(30)}
}

@media (max-width:1023px){
    .util_list_wrap,
    .gnb_list_wrap{display:none;}
    
    .footer_wrap{height:auto;background:none;text-align: center;padding:rem(10)}
    .footer_wrap .pix_container{display:block;}
    .footer_wrap .bottomlogo,
    .footer_wrap .btn_topgo{display:none;}
    .middle_wrap.bgtype2 + .footer_wrap{background:#f8f8f8;padding:rem(10)}
    .header_wrap{height:rem(55);position:fixed;top:0;left:0;width:100%;z-index:20}
    .pix_container{padding:0 rem(20);}
    .header_wrap .pix_container{justify-content: center;padding:0 rem(55)}
    .toplogo_link{width:rem(90);height:100%;background-position:50% 50%;}
    .btn_mobile_ico,
    .btn_mobile_menu{display:inline-block;}
    .middle_wrap{min-height:calc(100vh - rem(56));padding-top:rem(56)}
    .middle_wrap.layout_type3{padding-top:0;}
    .sub_visual_box_zone{padding:rem(20) rem(20) rem(10);}
    .sub_visual_box{height:rem(120);border-radius:0.625rem;}
    .sub_visual_zone{height:rem(120);}
    .sub_visual_copy_main{font-size:rem(20);}
    .sub_visual_copy_sub{font-size:rem(11);margin-top:rem(7);letter-spacing: rem(1.5);}

    .submenu_item_list{height:auto;min-height:rem(20);}
    .submenu_item_list.type2{}
    // .submenu_item_list.type2 .submenu_item:not(.define_home){flex:0 0 40%;}
    .sub_visual_copy_group{padding-bottom:rem(20)}
    .submenu_item{
        flex:1;margin:rem(10) 0;
        &:last-of-type{border-right:0}
        &.single_type{flex:0 0 50%;border-right:1px solid rgba(255, 255, 255, 0.5);}
        &.define_home{flex-basis: rem(40) !important;}
    }
    .submenu_text{font-size:rem(13)}
    .submenu_one{padding:0 rem(30) 0 rem(10);min-width:0;
        &:after{
            width:rem(7);height:rem(7);
            right:rem(12);margin-top:rem(-3);
            transform:translateZ(0) translateY(-50%) rotate(45deg);
        }
    }
    .btn_submenu_home{height:rem(20)}
    .submenu_item_zone{padding:0 rem(20)}

    .subcontent_box_wrap{padding:rem(40) rem(20);margin:0}
    .middle_wrap.layout_type2 .subcontent_box_wrap{padding:rem(10) rem(20) rem(20);}
    .middle_wrap.layout_type3 .subcontent_box_wrap{padding:rem(10) rem(20) rem(0)}
    .subcontent_box{border-radius:rem(10);padding: rem(20)}
    .subcontent_title{font-size:rem(20);margin-bottom:rem(20)}
    .subcontent_title.dtype2{margin-bottom:rem(20);padding-bottom:rem(20);}
    .subcontent_title_wrap{margin-bottom:rem(20);padding-bottom:rem(20);}
    .tabmenu_list.type2 .tabmenu{padding:rem(10) 0}
    .tabmenu{padding:rem(15) 0}
    .tabmenu_text{font-size:rem(14)}

    .subcontent{margin-top:rem(20);
        &.dtype2{margin:0;padding:0 0 rem(30) 0;}
    }

    .submenu_two_list_wrap{top:calc(100% + rem(15));}
    .submenu_two{font-size:rem(14);padding:rem(5) rem(10)}

        
    .sctab_list_wrap{position:relative;font-size:0;line-height:0;display:flex;align-items: center;justify-content: center;}
    .sctab_list_wrap:after{display:none}
    .sctab_list{width:100%;}
    .sctab{flex:1;min-width:0;min-height:rem(40)}
    .sctab_text{font-size:rem(15);}
    .sctab.active:after{width:rem(15);height:rem(11);}
    .sctab_list_wrap{}
    .sctab_content{margin-top:rem(30)}

    .subcontent_title_wrap{margin-bottom:rem(25);padding-bottom:rem(25);
        .subcontent_title{padding:0 rem(30);line-height:1.1}
    }
    .btn_history_back{
        width:rem(30);height:rem(30);top:rem(-5);
        &:after{
            width:rem(16);height:rem(16);top:rem(7);left:rem(12);
        }
    }
}

@media (min-width:1921px){
    .sub_visual_zone{height:rem(310);}
    .sub_visual_copy_main{font-size:rem(37);}
    .sub_visual_copy_sub{font-size:rem(16);line-height:1;margin-top:rem(15);}
    .sub_visual_copy_group{padding-bottom:rem(15)}
}